openapi: "3.0.0"
info:
  version: 0.0.1
  title: Factom Live API
  license:
    name: MIT
servers:
  - url: http://liveapi.factom.com/v1
paths:

  /subscriptions:
    get:
      summary: List all subscriptions
      operationId: listSubscriptions
      tags:
        - subscriptions
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of subscriptions
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscriptions"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a subscription
      operationId: createSubscriptions
      tags:
        - subscriptions
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /subscriptions/{subscriptionId}:
    get:
      summary: Info for a specific subscription
      operationId: getSubscriptionById
      tags:
        - subscriptions
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: The id of the subscription to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscriptions"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    Subscription:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Subscriptions:
      type: array
      items:
        $ref: "#/components/schemas/Subscription"
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string