swagger: "2.0"
info:
  version: 0.0.1
  title: Factom Live API
  license:
    name: MIT
host: liveapi.factom.com
basePath: /v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /subscriptions:
    get:
      summary: List all subscriptions
      operationId: listSubscriptions
      tags:
        - subscriptions
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          type: integer
          format: int32
      responses:
        "200":
          description: A paged array of subscriptions
          headers:
            x-next:
              type: string
              description: A link to the next page of responses
          schema:
            $ref: '#/definitions/Subscriptions'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Create a subscription
      operationId: createSubscriptions
      tags:
        - subscriptions
      responses:
        "201":
          description: Null response
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
  /subscriptions/{subscriptionId}:
    get:
      summary: Info for a specific subscription
      operationId: getSubscriptionById
      tags:
        - subscriptions
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: The id of the subscription to retrieve
          type: string
      responses:
        "200":
          description: Expected response to a valid request
          schema:
            $ref: '#/definitions/Subscriptions'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Subscription:
    type: "object"
    required:
      - id
      - name
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      tag:
        type: string
  Subscriptions:
    type: array
    items:
      $ref: '#/definitions/Subscription'
  Error:
    type: "object"
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string